<h2>New Book</h2>

<form action="/books" method="POST">
    <div class="input-field">
       <%- include('_form_field')  %>
    </div>
    <div class="buttons">
        <a href="/books">cancel</a>
        <button type="submit">Create</button>
    </div>
</form>